# Dependencies
node_modules
npm-debug.log

# Next.js build output
.next
out

# Development files
.env*.local
.env.development
.env.test

# Git
.git
.gitignore

# IDE
.vscode
.idea

# Testing
coverage
.nyc_output

# Misc
.DS_Store
*.pem
README.md
.editorconfig

# Debug
*.log
yarn-debug.log*
yarn-error.log*
